@{
	var h = locals.helper;
	var avril = locals.helper.avril;
	var menuConfig = avril.getConfig("menu").topMenu;
	var menuItems = menuConfig[locals.url.routes().area +'_'+locals.url.routes().controller] || menuConfig[locals.url.routes().area] ||  menuConfig[locals.url.routes().controller] || menuConfig["defaults"] || [];
	var curAction = h.url.action();
}
<div class="navbar navbar-fixed-top" id="top-menu">
    <div class="navbar-inner">
        <a class="brand" href="/">@("Yaryin meal".localize(locals.helper))</a>
        <ul class="nav">
            @for(var i = 0;i<menuItems.length;i++){
        		var curUrl =  menuItems[i].url;        		
                <li class="@(curAction.toString().toLowerCase() == curUrl.toString().toLowerCase()?"active":"")">
                    <a href="@curUrl">@(menuItems[i].text.localize(locals.helper))</a></li>
        	}
        </ul>

        <ul class="nav pull-right no-bk">
            @if(!locals.helper.authorize.user._id){
                <li class="dropdown-toggle"><a class="pop" data-pop='{width:580,height:560,title:"@("Login".localize(locals.helper))",scroll:false , esc:false , resizable:false , cache:true}' href="@locals.helper.url.action("login","account",{area :null})">@("Login")
                </a></li>
                }else{
                <li class="dropdown"><a class="dropdown-toggle" href="javascript:;">@("Hi ,".localize(locals.helper))
                    @locals.helper.authorize.user.email <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a confirm="@("are you sure to logout ?".localize(locals.helper))" href="@locals.helper.url.action("logout","account",{area :null})">@("Logout".localize(locals.helper))
                        </a></li>
                    </ul>
                </li>
                }
        </ul>
        <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="@("Search".localize(locals.helper))">
        </form>
    </div>
</div>
