@if (!locals.helper.isAjax())
{
    <span>
        <!--layout(_blank)-->
    </span>
}

<style type="text/css">
    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
</style>

<h3>@("Login".localize(locals.helper))</h3>
<ul class="nav nav-tabs">
    <li class="active"><a href="#login-form" data-toggle="tab">@("Login".localize(locals.helper))</a></li>
    <li><a href="#register-form" data-toggle="tab">@("Register".localize(locals.helper))</a></li>
</ul>
<div class="tab-content">
    <form id="login-form" class="form-signin ajax" method="post" action="/account/login">
        <div class="control-group">
            <input type="text" name="email" class="input-block-level" placeholder=" @("Email address".localize(locals.helper))" data-val="true" data-val-required="@("required".localize(locals.helper))">
        </div>
        <div class="control-group">
            <input type="password" name="password" class="input-block-level" placeholder=" @("Password".localize(locals.helper))"  data-val="true" data-val-required="@("required".localize(locals.helper))">
        </div>
        <button class="btn btn-large btn-primary" type="submit">@("Sign in".localize(locals.helper))</button>
    </form>
    <form id="register-form" class="ajax form-horizontal" style="display: none" action="/account/register" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@("Email Address".localize(locals.helper))</label>
                <div class="controls">
                    <input name="email" class="input-xlarge focused" type="text" placeholder="email@email.com"  data-val="true" data-val-required="@("required".localize(locals.helper))" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@("Password".localize(locals.helper))</label>
                <div class="controls">
                    <input name="password" class="input-xlarge focused" type="password" placeholder="******"  data-val="true" data-val-required="@("required".localize(locals.helper))" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@("Comfirm password".localize(locals.helper))
                </label>
                <div class="controls">
                    <input name="comfirmpassword" class="input-xlarge focused" type="password" placeholder="******"  data-val="true" data-val-required="@("required".localize(locals.helper))" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="focusedInput">@("Phone Number".localize(locals.helper))</label>
                <div class="controls">
                    <input name="phone" class="input-xlarge focused" type="text" placeholder="@("Phone Number".localize(locals.helper))"  data-val="true" data-val-required="@("required".localize(locals.helper))" />
                </div>
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn-large btn-primary">@("Register".localize(locals.helper))</button>
            </div>
        </fieldset>
    </form>
</div>