<!--layout(_layout)-->
<div class="box">
    <h4 class="box-header">@("Add your shop".localize(locals.helper))
    </h4>
    <div class="box-container-toggle">
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <legend class="form-step">@("Basic info".localize(locals.helper))</legend>
                    <div class="control-group">
                        <label class="control-label" for="name">@("Name".localize(locals.helper))</label>
                        <div class="controls">
                            <input type="text" id="name" name="name" value="@locals.model.name" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="address">@("Address".localize(locals.helper))</label>
                        <div class="controls">
                            <input type="text" id="address" name="address" value="@locals.model.address" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="wxNumber">@("Weixin Id".localize(locals.helper))</label>
                        <div class="controls">
                            <input type="text" id="wxNumber" name="wxNumber" value="@locals.model.wxNumber" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="phone">@("phone".localize(locals.helper))</label>
                        <div class="controls">
                            <input type="text" id="phone" name="phone" value="@locals.model.wxNumber" class="input-xlarge">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
